.editor { 
  width: 100%;
  height: 400px;
}

#trees {
  height: 400px;
  overflow: scroll;
  border: 1px solid #ddd;
}

#browse ul li b {
  padding-right: 0.3em;
}

#query_result .table {
  font-size: 80%;
}
